/* RTL גלובלי ומראה בסיסי */
html[dir="rtl"], body {
  direction: rtl;
  text-align: right;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Heebo","Rubik","Arimo","Assistant","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* לוגו רקע — ממוקם בימין-עליון ב־RTL */
  background-image: url('./assets/Logo_hativa_551.png');
  background-size: 150px 150px;
  background-position: right top; /* היה left top */
  background-repeat: no-repeat;

  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

